.node {
    width: 30px;
    height: 30px;
    outline: 1px solid rgb(0, 126, 222);
    display: inline-block;
    margin-bottom: -4px;
  }
  
  .node-finish {
    background-color: red;
  }
  
  .node-start {
    background-color: rgb(22, 189, 22);
  }

  .node-wall {
    background-color: rgb(12, 53, 71);
    color: white;
  }

  .spanBig{
    width: 30px;
    height: 30px;
    outline: 1px solid rgb(0, 126, 222);
    display: inline-block;
  }

  .weights{
    user-select: none;
    padding-top: 3px;
  }

.node-visited {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(0, 126, 222);
  display: inline-block;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(4, 4, 72, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

.node-shortest-path {
    width: 30px;
    height: 30px;
    outline: 1px solid rgb(0, 126, 222);
    display: inline-block;
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(123, 255, 0);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(0, 255, 140);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(242, 255, 0);
    }
  }